/* .fixed{
        position:fixed;
        width:100%;
        z-index: 1000000;
        top:0;
} */
/* body{
    background-color: red;
} */
.presentacion{
    color: white;
    height: 550px;
}

.ilustracion h1{
    font-size: 600%;
    /* margin-top: 5%; */
}

.subtitulo{
    margin-left: 40%;
}

.bg-grey{
    background-color: grey;
}

.collapse{
    font-family:'Poppins', sans-serif;
    font-size: large;
    font-weight: bold;
    color: blue;
    margin-left: 5%;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-top: 2%;
    font-family:'Poppins', sans-serif;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: orange;
}

/* .navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item:hover .nav-link{
    color: orange;
} */

.logo{
    margin-left: 15%;
}

.get {
    color: orange;
}

.it{
    color:white;
}

/* .futurist{
    height: 200px;
} */

.components1{
    margin-top: 13%;
    padding-left: 3%;
    padding-right: 3%;
    /* background-color: black; */
}

.navbar-toggler{
    margin-right: 3%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
  }

.descripcion{
    font-family:"Lato", "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold; 
    /* font-size: 40px; */
}

.textoApp{
    font-size: 300%;
    color: blue;
    font-weight: bold;
}

.textoAppDescP{
    font-size: 200%;
}

.footer{
   background-color: rgb(32, 32, 99);
   width: 100%;
}

.footer p{
    color: grey;
}